<nav class="navbar">
    <div class="container">
      <h1>
        <a routerLink="/"><i class="fas fa-book"></i> {{ applicationName }}</a>
      </h1>
      <ul class="nav-links">
        <li><a routerLink="/pages/authors">Authors</a></li>
        <li><a routerLink="/pages/books">Books</a></li>
        <li><a routerLink="/pages/register">Register</a></li>
        <li><a routerLink="/pages/login">Login</a></li>
      </ul>
      <ul class="nav-links">
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><button class="logout-btn" (click)="logout()">Logout</button></li>
      </ul>
    </div>
</nav>
  
